/* ==========================================================================
generic.print
/  ========================================================================== */

@page {
	size: A4 portrait;
	margin: 0;
}

@media print {
	:root {
		--s-font-size-base: 9pt;
		--s-font-size-300: 6pt;
		--e-heading-1-font-size: 16pt;
		--e-heading-2-font-size: 14pt;
		--e-heading-3-font-size: 14pt;
		--e-heading-4-font-size: 14pt;
		--e-heading-5-font-size: 12pt;
		--e-heading-6-font-size: 9pt;

		--s-space-layer-radius: 16pt;
	}

	header:not(.c-hero),
	footer {
		display: none;
	}

	.c-hero {
		--hero-block-padding: 24px;
		--hero-body-block-padding: 24px;
		--hero-image-size-max: 144px;
		--hero-gutter: var(--s-space-base);
		--hero-visual-border-size: 2px;
		--hero-salutaion-font-size: 10pt;
		--o-flow-gap: 16px;
	}

	.c-layer {
		--c-layer-inner-space: 24px;
		--c-layer-aside-size: 30ch;
	}

	.u-print-full {
		display: flex;
		flex-direction: column;
		min-block-size: 100vh;
	}

	.u-print__section {
		flex: 1;
	}
}
