/* ==========================================================================
generic.toplevel
/  ========================================================================== */

/* --------------------------------------------------------------------------
Variables
/  -------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
Functions/Mixins
/  -------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
Module
/  -------------------------------------------------------------------------- */

@layer generic {
	:where(html) {
		background-color: var(--s-color-background);
		color: var(--s-color-foreground);
	}

	:where(body) {
		--s-body-min-block-size: 100svh;
		display: flex;
		flex-direction: column;

		:where(main) {
			flex: auto;
			display: flex;
			flex-direction: column;

			:where(footer) {
				margin-block-start: auto;
			}
		}
	}
}
