/* ==========================================================================
settings.colors
/  ========================================================================== */

/* --------------------------------------------------------------------------
Variables
/  -------------------------------------------------------------------------- */

@layer settings {
	:where(:root) {
		--color--ice-chip: #f3f6f6;
		--color--celestial-powder: #a3e4fa;
		--color--marshmallow-blue: #90d6f9;
		--color--cotton-candy: #ffbcd9;
		--color--pink-ciklet: #ffa8c5;
		--color--black-box: #0f282f;
	}
}
