/* ==========================================================================
settings.vars
/  ========================================================================== */

@use '@supple-kit/css/settings/defaults' with (
	$breakpoints: (
		palm: 320px,
		lap: 768px,
		desk: 960px,
		wall: 1280px,
	),
	$spacing: (
		nano: 4px,
		micro: 8px,
		milli: 16px,
		base: 24px,
		kilo: 40px,
		mega: 56px,
		giga: 72px,
		tera: 88px,
		layer: (
			palm: 24px,
			desk: 72px,
		),
		layer-radius: (
			palm: 56px,
			desk: 80px,
		),
		bleed: (
			palm: 16px,
			desk: 48px,
		),
	),

	$color-palette: (
		'dark': #12355b,
		'mid': #ececec,
		'light': #fcfcfc,
		'brand': (
			// Paradise Pink
			'primary': #ee4266,
			'primary-glare': #ee9daf,
			// Emerald
			'secondary': #3ddc97,
			// Rich Black
			'tertiary': #161f2b,
			// Maize
			'quaternary': #fde74c,
			// Aero
			'quinary': #5bc0eb,
			'quinary-shade': #3e809c,
		),
		'background': #fcfcfc,
		'foreground': #12355b,
		'slate': (
			'background': #ececec,
			'foreground': #12355b,
		),
	),

	$font-size-scale: (
		300: (
			palm: 14px,
			desk: 16px,
		),
		base: (
			palm: 16px,
			desk: 22px,
		),
		500: (
			palm: 24px,
			desk: 36px,
		),
		600: (
			palm: 26px,
			desk: 44px,
		),
		700: (
			palm: 28px,
			desk: 50px,
		),
		800: (
			palm: 30px,
			desk: 60px,
		),
		900: (
			palm: 32px,
			desk: 84px,
		),
	)
);
